:root {
  --rojo: #b00000;
  --gris1: #838383;
  --gris2: #b5b5b5;
  --white: #ffffff;

  --font1: "Bebas Neue", cursive;
  --font2: "Montserrat", sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font2);
  font-weight: var(--medium);
  scroll-snap-type: y proximity;
}

/* Header Styles */

header {
  width: 100%;
  min-width: 320px;
  height: auto;
  min-height: 440px;
  scroll-snap-align: center;

  background-image: url(../assets19s/images19s/sismo-19s-punoEnAlto2x.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;

  padding: 25px;
  font-family: var(--font1);
}

header b {
  color: var(--rojo);
}

header h1 {
  display: inline-block;
  color: var(--white);
  font-size: 3.6rem;
}

header h2 {
  color: var(--gris2);
  font-size: 2.4rem;
}

.main__specialText {
  display: inline-block;
  margin-left: 15px;
}

.main__white {
  color: var(--white);
}

.main__mexCity {
  margin-top: 15px;
}

.main__questions {
  margin-top: 50px;

  font-family: var(--font2);
  text-align: center;
  color: var(--gris2);
  font-weight: var(--medium);
  font-size: 2.4rem;
  line-height: 2.9rem;
}

/* Main Event info Starts */

.main-event {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-event--info {
  margin: 40px 0 15px 0;
  width: 100%;
  min-width: 320px;
  height: auto;
  text-align: center;
  scroll-snap-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--gris1);
  font-weight: var(--medium);
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.main-event--info span {
  color: var(--rojo);
}

.main-event a {
  text-decoration: none;
  color: var(--white);
}

.main-event--registerButton {
  text-align: center;
  width: 240px;
  height: 30px;
  margin: 30px 0;

  background-color: var(--rojo);
  border-radius: 15px;
  padding: 5px;

  font-size: 1.4rem;
  font-weight: var(--bold);
}

.main-event--pannelButton {
  text-align: center;
  width: 240px;
  height: 30px;
  margin-bottom: 30px;

  background-color: var(--gris2);
  border-radius: 15px;
  padding: 5px;

  font-size: 1.4rem;
  font-weight: var(--bold);
}

/* Panlists info Starts */

.pannelist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 100%;
  min-width: 320px;
  height: auto;
  margin: 15px 0 15px 0;
  padding-top: 55px;

  background-color: var(--gris2);
}

.panelist-info--iconhead {
  position: absolute;
  bottom: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panelist-info--iconhead .iconhead__364 {
  width: 40px;
  height: 30px;

  scroll-snap-align: start;

  background-image: url(../assets19s/icons19s/364.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.panelist-info--iconhead .iconhead__19S {
  width: 135px;
  height: 30px;

  background-image: url(../assets19s/icons19s/sismos19s-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pannelist-info__highlight {
  font-size: 1.4rem;
  font-weight: var(--bold);
  line-height: 1.7rem;
  letter-spacing: 1.5em;
  padding-left: 1.5em;
  color: var(--gris1);
}

.panlist-info--details {
  width: 90%;
  height: auto;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 15px;
}

.panlist-info--details article {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 280px;
  height: auto;
  min-height: 150px;

  text-align: center;
}

.panlist-info--details article h3 {
  width: 90%;
  min-width: 275px;
  height: auto;
  min-height: 25px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;

  font-size: 1.8rem;
  line-height: 150%;
  font-weight: var(--medium);
  color: var(--rojo);
}

.panlist-info--details .details__cv {
  display: flex;
  margin: 0 auto;
  width: 90%;
  min-width: 275px;
  height: auto;
  min-height: 100px;

  font-size: 1.4rem;
  line-height: 1.75rem;
  font-weight: var(--medium);
  color: var(--white);
}
.details__cv .details__cv-format {
  align-self: center;
}

/*Footes styles*/

footer {
  display: flex;
    align-items: center;
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  height: auto;
  min-height: 100px;
  font-size: 1.2rem;
  font-weight: var(--light);
  color: var(--gris1);
}

footer div {
  width: 50%;
  text-align: center;
}


.logo-geotem-min{
    display: inline-block;
    margin: 10px 0;
    width: 100px;
    height: auto;
    min-height: 50px;
  
    background-image: url(../assets19s/icons19s/logo-geotem-miniatura.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-webandSSNN {
    border-left: var(--gris1) 1px solid;
}

.footer-webandSSNN a{
    margin-top: 5px;
    
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: var(--bold);
    color: var(--gris2);

    
}
.socialNetworks{
    margin-top: 15px;
}
.socialNetworks img{
    
    width: 20px;
    height: 20px;
    margin: 0 2%;
    margin-bottom: 5px;
  
  }