header {
  min-width: 750px;
  min-height: 550px;

  background-image: url(../assets19s/images19s/sismo-19s-punoEnAlto-Tablet2x.png);

  padding: 30px;

  letter-spacing: 0.1rem;
}

header h1 {
  font-size: 4.2rem;
}

header h2 {
  font-size: 2.8rem;
}

.main__mexCity {
  margin-top: 10px;
}

.main__questions {
  margin-top: 25px;
  width: auto;

  text-align: start;
  color: var(--white);
  font-weight: var(--medium);
  font-size: 2.2rem;
  line-height: 2.6rem;
}

/*Moving Up Main Event*/

.main-event {
  position: relative;
  align-items: flex-start;
}

.main-event--info {
  position: absolute;
  margin-top: 10px;
  bottom: 100%;
  margin: 0;

  width: 400px;
  text-align: left;

  align-items: flex-start;

  padding-left: 30px;

  color: var(--white);
  font-weight: var(--medium);
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.main-event--info .info__spacialDate {
  color: var(--rojo);
  display: inline-block;
}

.main-event--buttons {
  display: flex;
  flex-direction: row;
  width: 510px;
  justify-content: space-between;
}

.main-event--pannelButton {
  margin: 30px 0;
}

.pannelist-info {
  margin: 0;
  padding-top: 40px;
}

.panelist-info--iconhead {
  position: static;
  margin-bottom: 30px;
}

.panelist-info--iconhead .iconhead__364 {
  width: 0px;
  height: 0px;
}

.panelist-info--iconhead .iconhead__19S {
  width: 310px;
  height: 35px;

  background-image: url(../assets19s/icons19s/364-sismos19septiembre-tablet.svg);
}

.pannelist-info__highlight {
  font-size: 1.8rem;
}

.panlist-info--details {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;

  justify-content: center;
}

.panlist-info--details article {
  width: 310px;
  height: auto;
  min-height: 150px;

  text-align: center;
}

.main-event--registerButtonTablet {
  margin: 15px 0 50px 0;
}
